/* colours */
.app-modal-overlay {
  background: #000;
  background: linear-gradient(90deg, rgba(0, 0, 0,1) 6.742313323572475%,rgba(209, 42, 61,1) 83.16983894582722%);
}
.app-modal        { background-color: #181c28;  color: #fff;  }
.app-modal-bar    { background-color: #000; }
.app-modal-icon   { background-color: #d13400;  color: #fff;  }
.app-modal-closer { background-color: #555;     color: #fff;  }
.app-modal-ok     { background-color: #d13400;  color: #fff; }
  

/* fonts */
.app-modal           { font-family: "Segoe UI","Calibri","Gill Sans MT","Tahoma","Arial","sans-serif" }

.app-modal-container { font-size: 12pt;  }
.app-modal-title h1  { font-size: 30pt;  }
.app-modal-closer    { font-size: 14pt;  }
.app-modal-icon      { font-size: 72pt;  font-weight: bold; }
.app-modal-content   { font-size: 18pt;  }  
.app-modal-footer    { font-size: 12pt; }
.app-modal-ok        { font-size: 10pt; font-weight: bold; }


.app-modal-container {

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 501;
}
.app-modal-container a:link, 
.app-modal-container a:hover, 
.app-modal-container a:visited, 
.app-modal-container a:target {
  color: #eee;
  font-weight: bold;
}
.app-modal-bar {
  margin: 0;
  padding: 10px;
  line-height: 1;
  border-radius: 5px;
}

  .app-modal {
    box-shadow: 0 0 60px 10px rgba(0, 0, 0, 0.7);  

    /* Vertically align on screen */
    position: relative;
    top: 40%;
    transform: perspective(1px) translateY(-50%);

    /* Horizontal align on screen */
    width: 60%;
    margin: auto;

    padding: 20px;
  }

    .app-modal-header {
    }
      .app-modal-title h1 {
        margin: 0;
      }
    .app-modal-closer {
        font-weight: bold;
        position: fixed;
        right: -40px;
        top: -40px;
        padding: 5px 10px;
        border-radius: 5px;
        opacity: 0.9;
        text-decoration: none;
      }

    .app-modal-warning {
      float: left;
      width: 10%;
    }
      .app-modal-icon {
        /* rounded icon affect */
        border-radius: 50%;
        padding: 0 45% 0 45%;
        display: inline-block;
        line-height: 85px;
        height: 100px;        
      }

    .app-modal-content-container {
      min-height: 150px;
    }
    .app-modal-content {
      margin-left: 17%;
      margin-right: 5%;
    }

  .app-modal-ok {
    border: none;
    margin-bottom: 20px;
    margin-right: 20px;
    float: right;
    padding: 5px 50px;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
  }  
  .app-modal-footer p {
    margin:0;
  }



.app-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 500;  
  opacity: 0.7;
}


.app-float-left  { float: left; }
.app-float-right { float: right; }
.app-clear       { clear: both; }
.app-ib          { display: inline-block; }
.app-hide        { display: none; }
.app-show        { display: block; }


/* effects */

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}


@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}



